 @import '../../../App-styles/mixins.scss';
 
 .shortener-wrapper{
     @include size(80%, auto, 0, 0);
     @include flex(center, center, column, NULL, NULL);
     border: 2px solid blue;
     
    .input-field[type="search"]::-webkit-search-decoration,
    .input-field[type="search"]::-webkit-search-cancel-button,
    .input-field[type="search"]::-webkit-search-results-button,
    .input-field[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
    }
    .input-container{
        @include size(90%, 120px, 0, 30px 80px);
        @include flex(center, center, NULL, NULL, NULL);
        justify-self: flex-start;
        border-radius: 75px;
        border: 10px solid rgba(255, 166, 0, 0.811);
        z-index: 100;

        .input-field{
            @include size(90%, auto, 0, 0);
            border: none;
            background-color: transparent;
            font-size: 40px;
            caret-color: rgb(255, 166, 0);
            color: white;
           &:focus{outline: none;}
           
        }
        .close-button {
            $size: 50px;
            height: $size;
            width: $size;
            position: relative;
            box-sizing: border-box;
            line-height: $size;
            display: inline-block;
        
            &:before, &:after {
                $width: 50px;
                $height: 10px;
                transform: rotate(-45deg);
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -$height/2;
                margin-left: -$width/2;
                display: block;
                height: $height;
                width: $width;
                background-color: #fff;
                transition: all 0.25s ease-out;
            }
        
            &:after {
                transform: rotate(-135deg);
            }
        }
    }

     .shortened-url-div{
        @include size(90%, 40px, 10px, 30px 80px);
        @include flex(space-between, center, NULL, NULL, NULL);
        border-radius: 75px;
        z-index: 100;
        background-color: rgba(255, 255, 255, 0.833);
        .shortened-url{
            @include size(auto, auto, 0, 0);
            background: green;
        }
        .copy-icon{
            background: cyan;
        }
     }
 }