@import './mixins.scss';

* {
    box-sizing: border-box;
}

.App{
    @include size(100vw, auto, 0, 0);
}

.entry-page{
    @include size(100vw, 100vh, 0, 0);
    @include flex(center, center, column, NULL, NULL);
    background: #221614;
}

.user-auth-page{
    @include size(100vw, 100vh, 0, 0);
    @include flex(center, center, column, NULL, NULL);
    background: blanchedalmond;
}