@import './mixins';

* {
    box-sizing: border-box;
}

.App{
    @include size(100vw, auto, 0, 0);
    background: #221614;
}

// ------------Toast------------ //

.Toastify__toast-container {
    @include size (650px, auto, 10px, 0);
 }
 
 .Toastify__progress-bar {
     background: white;
     height: 1.5px;
 }
 
 .Toastify__toast {
    @include size (auto, 50px, 10px, 0 0 0 15px);
     border-radius: 10px 100px 100px 200px;
     background: #ff9500dc;
 }
 
 .Toastify__toast-body {
     font-family: 'Libre Baskerville', serif;
     font-size: 1.2em;
     color: white;
 }
 
 .Toastify__close-button {
     display: none;
 }