@import '../../../App-styles/mixins';

.Toastify__toast-container {
   @include size (650px, auto, 0, 0);
}

.Toastify__progress-bar {
    display: none;
}

.Toastify__toast {
   @include size (auto, 50px, 0, 0 0 0 40px);
    border-bottom-left-radius: 100px;
    background: #ff9500;
}

.Toastify__toast-body {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.25em;
    color: white;
}