@import '../../../../App-styles/mixins.scss';

.user-auth{
    @include size(100vw, 100vh, 0, 75px);
    @include flex(center, center, column, NULL, NULL);
    z-index: 101;
    background: blanchedalmond;

    .form-wrapper{
        @include size(100%, 100%, 0, 0);
        @include flex(center, center, null, null, null);
        border: 2px solid #ff9500cf;
        transition: 0.1s all ease-in-out;
        // background: linear-gradient(to top left, #d06202, #633401,#0f0700, #010101);
        background: none;
        border-radius: 75px;
        overflow: hidden;

        .form-title{
            color: #221614;

        }

        .sign-up{
            @include size(600px, 90%, 0, 30px);
            @include flex(center, center, column, null, null);
            color: #221614;
            border: 8px solid green;
            .sign-up-form{
                @include size(59%, 80%, 0, 30px);
                @include flex(center, center, column, null, null);
            }
        }
    
        .login{
            @include size(600px, 90%, 0, 30px);
            @include flex(center, center, null, null, null);
            border: 8px solid blue;
    
            .login-form{
                @include size(59%, 80%, 0, 30px);
                @include flex(center, center, column, null, null);
            }
        }
    }
}